%form{:class => 'form-horizontal', :action=>"/cp_business/submit_configure", :method =>"post"}
  %legend "指令分配 #{@cpbusiness['spname']} -- #{@cpbusiness["cpname"]}"
  %input{:type=>"hidden", :value =>"#{@cpbusiness['id']}", :name=> "id"}
  .control-group
    %label{:class => 'control-label'} 
      特服号码
    .controls
      %span{:class => "input-large uneditable-input"}
        #{@cpbusiness['spnumber']}
  .control-group
    %label{:class => 'control-label'} 
      分配指令
    .controls
      %span{:class => "input-large uneditable-input"}
        #{@cpbusiness['cmd']}
  .control-group
    %label{:class => 'control-label'} 
      单价
    .controls
      %span{:class=>"input-large uneditable-input"}
        #{@cpbusiness['price']}
  .control-group
    %label{:class => 'control-label'} 
      结算比例
    .controls
      %input{:name => 'pay_percent', :type=> "text", :class=>"input-large", :value => "#{@cpbusiness["pay_percent"]}" }
  .control-group
    %label{:class => 'control-label'} 
      扣量比例
    .controls
      %input{:name => 'dis_percent',:type=> "text", :class=>"input-large", :value => "#{@cpbusiness['dis_percent']}" }
  .control-group
    %label{:class => 'control-label'} 
      接口地址
    .controls
      %input{:name => 'interface_url',:type=> "text", :class=>"input-xxlarge", :value => "#{@cpbusiness['interface_url']}" }
  .control-group
    %label{:class => 'control-label'} 
      URL模板
    .controls
      %input{:name => 'url_template',:type=> "text", :class=>"input-xxlarge", :value => "#{@cpbusiness['url_template']}" }
  .control-group
    %label{:class => 'control-label'} 
      状态校验
    .controls
      %input{:name => 'report_valid',:type=> "text", :class=>"input-large", :value => "#{@cpbusiness['report_valid']}" }
  .control-group
    .controls
      %label{:class => 'checkbox inline'}
        - if @cpbusiness['request_method'] == 0
          %input{:type =>"checkbox", :name=>"request_method", :id=>"option_enabled", :value=>"enabled", :checked => true} 使用POST方式进行提交
        - else
          %input{:type =>"checkbox", :name=>"request_method", :id=>"option_enabled", :value=>"enabled"} 使用POST方式进行提交
  .control-group
    .controls
      %label{:class => 'checkbox inline'}
        - if @cpbusiness['status'] == 0
          %input{:type =>"checkbox", :name=>"enabled", :id=>"option_enabled", :value=>"enabled", :checked => true} 启用
        - else
          %input{:type =>"checkbox", :name=>"enabled", :id=>"option_enabled", :value=>"enabled"} 启用
  .control-group
    .controls
      %button{:type => "submit", :class=>"btn"}
        保存配置
