%legend
  通道配置 
%form{:class => 'form-horizontal', :action=>"/sp_business/submit_configure/#{@spbusiness.ID}", :method =>"post"}
  .control-group
    %label{:class => 'control-label'} 
      SP名称
    .controls
      %span.input-large.uneditable-input
        = @spbusiness.spinfo.SPNAME
  .control-group
    %label{:class => 'control-label'} 
      通道类型
    .controls
      %span.input-large.uneditable-input
        = @spbusiness.spinfo.ACCEPTTYPE == 0 ? "短信" : "IVR"
  .control-group
    %label{:class => 'control-label'} 
      业务编号
    .controls
      %span.input-large.uneditable-input
        = @spbusiness.BUSINESSID
  .control-group
    %label{:class => 'control-label'} 
      业务名称
    .controls
      %input.input-large{:type=>"text", :name => "input_business_name"}
        = @spbusiness.BUSINESS_NAME
  .control-group
    %label{:class => 'control-label'} 
      特服号码
    .controls
      %input{:type =>"text", :class => "input-large", :name => "input_spnumber", :value=> "#{@spbusiness.SPNUMBER}"}
  .control-group
    %label{:class => 'control-label'} 
      指令
    .controls
      %input.input-small{:name => 'input_cmd', :value => "#{@spbusiness.CMD}" }
      %select.input-small{:name => "input_cmdtype"}
        %option{:value => "1", :selected => ( @spbusiness.CMDTYPE == 1)}
          模糊
        %option{:value => "2", :selected => ( @spbusiness.CMDTYPE == 2)}
          精确
  .control-group
    %label{:class => 'control-label'} 
      单价
    .controls
      %input{:type =>"text", :class => "input-large", :name => "input_price", :value => "#{@spbusiness.PRICE}"}
  .control-group
    %label{:class => 'control-label'} 
      通道简要说明
    .controls
      %textarea.span4{:rows=>"3", :name=> "input_arealist"}
        #{@spbusiness.AREALIST}
  .control-group
    .controls
      %label{:class => 'checkbox inline'} 
        %input{:type =>"checkbox", :name=>"input_enabled", :id=>"option_enabled", :value=>"enabled", :checked => (@spbusiness.STATUS == 1)  } 启用
  .control-group
    .controls
      %button{:type => "submit", :class=>"btn"}
        保存配置
        
  
