!!!
%html{ :lang => 'en', 'xml:lang' => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title
      垫付平台
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body{ :class => @body_class }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          #user_info
            %a{:herf=>"#"}
              - #{current_user.email} unless current_user.nil?
            %a{:herf=>"#"}
              =link_to '退出', destroy_user_session_path, :method=> :delete
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href=>"/"}
                  首页
    #wrap
      #header
      #body
        .container
          .row
            .span2
              = render :partial => 'common/menu'
            .span10
              = yield
      #footer
    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
